
table.organizecards {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
}

a{ float: right; padding: 8px; margin-top: -15px; }

h1{
    text-align: center;
    font-weight: bold;
}