<h1>Pokemons Library</h1>
<br />
<a class="btn btn-primary" routerLink="/trainer">My profile</a>

<table  class = "organizecards">  
    <app-library-item *ngFor="let pokemon of pokemons" 
    [pokemon]="pokemon" (clicked)="handlePokemonClicked(pokemon)">
    </app-library-item>
</table>

