.trainer-items{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

h1{
    text-align: center;
    font-weight: bold;
}
button{ float: right; padding: 10px;  margin:10px; width: 100px; }
