<h1>Welcome trainer</h1>
<br/>
<button class="btn btn-danger" (click)="handleLogoutClicked()">Log out</button>
<button class="btn btn-primary" routerLink="/library">Library</button>



<ul class="trainer-items">
    <app-library-item *ngFor="let pokemon of pokemons" 
    [pokemon]="pokemon" (clicked)="handlePokemonClicked($event)">
    </app-library-item>
</ul>