body{
  background: white;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.slide-right {
	

            /* -webkit-animation: slide-right 0.5s cubic-bezier(0.150, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.60, 0.450, 0.940) both; */

            -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            
        }

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
  }
   .container{
      align-self: left;
    } 
    
    form{
    text-align: center;
    background-image: url("../../../assets/pokeball.png");  
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    padding: 8%;
    margin-right: 400px;
}


input{
      width: auto;
      padding:10px; 
      border-radius:10px;
      display: block;
      margin-left: 31%;
      margin-top: 46%;
    
     
    }

  input, textarea{
    font-family:inherit;
    font-size: inherit;
  }
  button{
    margin: auto;
    background-color: red !important;
  }
 
  
  

  