
<div class="container">
    <h1> Pokemon</h1>
    <form class="slide-right" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value.name)">
        <fieldset class="mb-3" >
            <input class="form-control" type="text" id="name" name="name" placeholder="What's your name?"
            ngModel #name="ngModel" required
            [ngClass]="{ 'is-valid': name.valid}">
        </fieldset>
        <button [disabled]="userForm.invalid" class="btn btn-primary" type="submit">login</button>
    </form>       
</div>
