<li class="trainer-item" (click)="onPokemonClicked()" 
[ngStyle]="{'box-shadow':pokemon.isCaught ? '0px 0px 0px 6px green': '0px 0px 0px 2px black' }">
    <img class="pokemon-image" [src]="pokemon.sprites.front_default" alt="pokemon"/>
    <h4 class="pokemon-name">  </h4>

    <ul>
        <li>{{ pokemon.stats[0].stat.name}} {{ pokemon.stats[0].base_stat}} </li>
        <li>{{ pokemon.stats[1].stat.name}} {{ pokemon.stats[1].base_stat}} </li>
        <li>{{ pokemon.stats[2].stat.name}} {{ pokemon.stats[2].base_stat}} </li>
        <li>{{ pokemon.stats[3].stat.name}} {{ pokemon.stats[3].base_stat}} </li>
        <li>{{ pokemon.stats[4].stat.name}} {{ pokemon.stats[4].base_stat}} </li>
        <li>{{ pokemon.stats[5].stat.name}} {{ pokemon.stats[5].base_stat}} </li>
    </ul>
</li>
