.card:hover{
  transform: scale(1.15, 1.15);
  z-index: 100;
}


table, td, tr {
    border: 1px solid ;
} 
  
  /* ----- Arrange card table */
  table.organizecards {
    border: 50px solid transparent;
}
  
  /* Font of entire page */
  * {
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-stretch: ultra-condensed;
  }
  
  div.yellow { /* yellow card background - ELECTRIC TYPE */
    background: linear-gradient(to bottom right, #ffffa4,#fff870,#fff200,#fff870,#ffffa4,#fff870);
  }
 
  div.nameimageinfo {
    width: 310px;
    height: 480px;
    margin: 0px;
    margin-top:50px;
    padding: 5px 10px 5px 10px;
    border: 10px solid gold;
    border-radius: 20px;
  }
  
  /* Border around animal's information to comply with requirements */
  div.infoonly {
    border: 1px dotted gray;
    height: 140px;
    border-top: 5px solid rgba(255, 0, 0, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    width: fit-content;
  }
  
  table.nameheaders, table.stats, table.costs {
    width: 270px;
    vertical-align: center;
  }
  
  /* NAME AND BASIC STATS */
  
  /* ----- "Basic Pokemon" font styling */
  td.basic {
    font-size: 10px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
  }
  
  /* ----- Name of Pokemon font styling */
  td.nameofanimal {
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  
  /* ----- HP font styling */
  td.hp {
    color: crimson;
    font-size: 20px;
    text-align: right;
    font-weight: 600;
    width: 50px;
  }
  
  /* ----- Type sign next to HP - OK to remove if replaced with image */
  td.typesign {
    font-size: 20px;
    text-align: center;
    width: 20px;
  }
  
  /* IMAGE AND DESCRIPTION */
  
  /* ----- Image border and drop shadow */
  img {
    padding: 0px;
    margin: 7px 0px 5px 0px;
    border: 5px rgb(255, 187, 0) outset;
    box-shadow: 3px 3px 10px #000;
    width: 270px;
    height: 190px;
  }
  
  p.description {
    width: 250px; /* DO NOT REMOVE, HEATHER! */
    padding: 2px 2px 2px 2px;
    margin: 0px 0px 5px 30px;
    background: linear-gradient(to right, goldenrod,yellow,goldenrod);
    font-size: 10px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
  }
  
  /* ATTACKS */
  td.energy {
    width: 50px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
  }

  td.attackdescCENTER {
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
  
  /* ----- Attack Name Only */
  span.label {
    font-weight: 700;
    font-size: 14px;
  }
  
  /* ----- Attack Description */
  span.labeltext {
    font-weight: 400;
    font-size: 12px;
  }
  
  /* ----- Attack Damage */
  td.damage {
    font-weight: 400;
    font-size: 20px;
    width: 25px;
    text-align: center;
  }
  
  table.stats {
    border-bottom: 1.5px solid black;
  }
  
  /* defen / attack / speed */
  
  /* ----- Styling table overall */
  table.costs {
    font-size: 10px;
    text-align: center;
  }
  
  /* ----- Styling headers */
  tr.costheaders {
    font-weight: 900;
    font-size: 18px;
  }
  
  tr.costicons {
    font-size: 18px;
    vertical-align: center;
    align-self: center;
  }
  /* Comply with requirements by having no bullets */
  
  html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  
  * {
    font-size: 100%;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  