<table class="organizecards" [hidden]="!pokemon.isCaught && routerUrl === '/trainer'">
    <tr>
        <td class="organizecardsB">
            <div [ngClass]="{
            'nameimageinfo': true,
            'yellow': true, 
            'card': pokemon.isCaught && routerUrl === '/trainer'
            }" 
             (click)="onPokemonClicked()"
                [ngStyle]="{'box-shadow':pokemon.isCaught ? '0px 0px 0px 6px green': '' }">

                <table class="nameheaders">
                    <tr>
                        <td class="basic" colspan="3">Basic Pokémon</td>
                    </tr>
                    <tr>
                        <td class="nameofanimal">{{ pokemon.name }}</td>
                        <td class="hp">{{ pokemon.stats[0].stat.name}} {{ pokemon.stats[0].base_stat}}</td>
                        <td class="typesign"> ☻ </td>
                    </tr>
                </table>

                <img class="pokemon-image" [src]="pokemon.sprites.front_default" alt="pokemon" />
                <br>

                <div class="infoonly">
                    <!-- <p class = "description"> Length: , Weight: .</p> -->

                    <table class="stats">
                        <tr>
                            <td class="energy">☻</td>
                            <td class="attackdescCENTER"><span class="label">{{ pokemon.stats[1].stat.name}}</span></td>
                            <td class="damage">{{ pokemon.stats[1].base_stat}}</td>
                        </tr>
                    </table>
                    <table class="costs">
                        <tr class="costheaders">
                            <td>{{ pokemon.stats[3].stat.name}}</td>
                            <td>{{ pokemon.stats[4].stat.name}}</td>
                            <td>{{ pokemon.stats[2].stat.name}}</td>
                            <td>{{ pokemon.stats[5].stat.name}}</td>
                        </tr>
                        <tr class="costicons">
                            <td> {{ pokemon.stats[3].base_stat}}</td>
                            <td>{{ pokemon.stats[4].base_stat}}</td>
                            <td>{{ pokemon.stats[2].base_stat}}</td>
                            <td> {{ pokemon.stats[5].base_stat}}</td>

                        </tr>
                    </table>

                </div>
            </div>
        </td>
    </tr>
</table>